<html lang="es" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <p class="mb-0">&copy; 2024 Iglesia Fuente de Vida. Todos los derechos reservados.</p>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <ul class="list-unstyled">
                    <li><strong>Teléfono:</strong> +57 322 455 2230</li>
                    <li><strong>Email:</strong>iglesiafuentedevida@gmail.com</li>
                    <li><strong>Dirección:</strong> Calle 22, Sogamoso, Colombia</li>
                </ul>
            </div>
            <div class="col-md-4">
                <nav>
                    <ul class="nav justify-content-md-end">
                        <li class="nav-item">
                            <a class="nav-link text-white" th:href="@{/footer/aboutUs}">Sobre nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" th:href="@{/footer/contact}">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" th:href="@{/footer/privacy}">Política de privacidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" th:href="@{/footer/terms}">Términos de servicio</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-center">
                <a href="https://www.facebook.com/iglesiafuentedevida" class="text-white mx-2"><i class="fab fa-facebook"></i></a>
                <a href="https://www.twitter.com/iglesiafuentedevida" class="text-white mx-2"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/iglesiafuentedevida" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/iglesiafuentedevida" class="text-white mx-2"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>
</html>
