<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Gastos</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .card-header {
            background-color: #007bff;
            color: white;
        }
    </style>
</head>
<body>
<header th:insert="~{fragments/headers/students-header::students-header}"></header>
<h2>Estudiantes</h2>
<hr>
<div class="jumbotron">
  <h1 class="display-4">¡Bienvenido al Sistema Educativo!</h1>
  <p class="lead">Gestione sus estudios de manera fácil y eficiente.</p>
</div>

<div class="container">
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}">1</td>
        <td th:text="${student.user.userName}">johndoe</td>
        <td th:text="${student.user.firstName}">John</td>
        <td th:text="${student.user.lastName}">Doe</td>
        <td th:text="${student.user.email}">john@example.com</td>

        <td>
            <a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-primary">Edit</a>
            <a th:href="@{/students/delete/{id}(id=${student.id})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</div>




<footer th:insert="~{fragments/footer::footer}"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>