<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Test</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Inicio</a>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="test/hello">Inicio</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">

      <a class="nav-link" href="login.html">Inicio de Sesión</a>

      <a class="nav-link" href="/login">Inicio de Sesión</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/registro">Inscripción</a>
                </li>
            </ul>
			<ul class="navbar-nav ml-auto">
			                <li class="nav-item">
			                    <a class="nav-link" href="#" onclick="cerrarSesion()">Cerrar Sesión</a>
			                </li>
			            </ul>

                   

        </div>
    </nav>
<body>
<h1>Landing Page</h1>
<p>Landing Page, público para todo usuario</p>
<p>
<a th:href="@{/login}">Acceder a tu cuenta</a>
</p>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>