<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Gastos</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .card-header {
            background-color: #007bff;
            color: white;
        }

        .jumbotron {
            background-color: #e9ecef;
            padding: 2rem 1rem;
            border-radius: 0.3rem;
        }

        .btn-back {
            margin-top: 1rem;
        }

        .table-actions {
            display: flex;
            gap: 0.5rem;
        }
    </style>
</head>
<body>
<header th:insert="~{fragments/headers/students-header::students-header}"></header>
<div class="container my-4">
    <h2 class="text-center">Estudiantes</h2>
    <hr>
    <div class="jumbotron text-center">
        <h1 class="display-4">¡Bienvenido al Sistema Educativo!</h1>
        <p class="lead">Gestione sus estudios de manera fácil y eficiente.</p>
    </div>

    <div class="text-center mb-4">
        <h2 th:text="'Estudiantes Inscritos al ' + ${course.name}"></h2>
        <a th:href="@{/}" class="btn btn-secondary btn-back">Volver</a>
    </div>

    <div th:if="${students.isEmpty()}">
        <p class="text-center">No hay estudiantes registrados en este nivel</p>
    </div>

    <div th:if="${!students.isEmpty()}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.user.userName}"></td>
                <td th:text="${student.user.firstName}"></td>
                <td th:text="${student.user.lastName}"></td>
                <td th:text="${student.user.email}"></td>
                <td class="table-actions">
                    <!--<a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-primary">Edit</a>-->
                    <a th:href="@{/students/delete/{id}(id=${student.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:insert="~{fragments/footer::footer}"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
