<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Gastos</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #f8f9fa;
        }
        .card-header {
            background-color: #007bff;
            color: white;
        }
    </style>
</head>
<body>
<header th:insert="~{fragments/headers/students-header::students-header}"></header>
<h2>Estudiantes</h2>
<hr>
<div class="jumbotron">
  <h1 class="display-4">¡Bienvenido al Sistema Educativo!</h1>
  <p class="lead">Gestione sus estudios de manera fácil y eficiente.</p>
</div>

<div class="container">
  <h2 class="text-center">Nivel 1</h2>
  <p class="text-center">12 Clases (Lecciones)</p>
  <div class="list-group">
      <a th:text="${idCusrsando==1}">a</a>

      <button type="button" class="list-group-item list-group-item-action">Lección 1</button>
    <button type="button" class="list-group-item list-group-item-action">Lección 2</button>
    <button type="button" class="list-group-item list-group-item-action">Lección 3</button>
    <button type="button" class="list-group-item list-group-item-action">Lección 4</button>
    <button type="button" class="list-group-item list-group-item-action">Lección 5</button>
  </div>
</div>
<div class="container" th:if="${idCusrsando==1}">
    <h2 class="text-center">Nivel 1</h2>
    <p class="text-center">12 Clases (Lecciones) </p>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Lección 1
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <input type="checkbox" id="asistencia1"> Asistencia
                    <br>
                    <a href="#" target="_blank">Recurso 1</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Lección 2
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <input type="checkbox" id="asistencia2"> Asistencia
                    <br>
                    <a href="#" target="_blank">Recurso 2</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Lección 3
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <input type="checkbox" id="asistencia3"> Asistencia
                    <br>
                    <a href="#" target="_blank">Recurso 3</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Lección 4
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                    <input type="checkbox" id="asistencia4"> Asistencia
                    <br>
                    <a href="#" target="_blank">Recurso 4</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed text-white" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        Lección 5
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
                    <input type="checkbox" id="asistencia5"> Asistencia
                    <br>
                    <a href="#" target="_blank">Recurso 5</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="~{fragments/footer::footer}"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>