<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="home-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/home}">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/footer/aboutUs}">Nuestra Iglesia</a>
                </li>
            </ul>

            <form th:action="@{/logout}" method="post" class="ml-auto">
                <button class="btn btn-outline-light" type="submit">Cerrar Sesión</button>
            </form>
        </div>
    </nav>
</header>

</html>