<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="home-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand text-white" th:href="@{/home}">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Nuestra Iglesia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/proceso}">Proceso de Formación</a>
                </li>
            </ul>
            <form th:action="@{/logout}" method="post" class="ml-auto">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <input class="nav-link btn btn-link text-white" type="submit" value="Cerrar Sesión" />
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</header>
</html>
